@charset "utf-8";
html{min-width:1000px;}
body{background:#fff;font-weight:400;font-size:13px;}

input[type="date"], input[type="text"], select{width:auto;text-align:left;border-radius:0;border-color:#cecece;line-height:24px;}
label{display:inline-block;line-height:20px;}
label>input{margin:4px 5px 0 0;vertical-align:top;}
.mt45{margin-top:45px;}
.w140{width:140px;}

/* header */
header{float:none;height:70px;padding:0;border-bottom:1px solid #eff0f1;background:url(../images/bg_header.png) repeat-x 0 0;}
header>div{position:relative;min-width:1200px;max-width:1380px;margin:0 auto;padding:0 10px;}
header>div:after{content:"";display:block;clear:both;}
header>div h1{float:left;margin:5px 80px 0 20px;}
header>div>ul{float:left;margin-top:12px;}
header>div>ul>li{float:left;margin-right:75px;position:relative;vertical-align: middle; text-align:center; outline:none;}
header>div>ul>li.on>a{color:#ff9c00!important;}
header>div>ul>li>a{font-weight:700;}
header>div>ul>li>a:before{display:block;content:"";width:25px;height:25px;margin:0 auto 10px;background:url(../images/ico_gnb.png) no-repeat 0 0;}
header>div>ul>li:nth-child(2)>a:before{background-position:-25px 0;}
header>div>ul>li:nth-child(3)>a:before{background-position:-50px 0;}
header>div>ul>li:nth-child(4)>a:before{background-position:-75px 0;}
header>div>ul>li ul{display:none;position:absolute;left:0;top:0;z-index:2;width:160px;}
header>div>ul>li>ul{top:60px;}
header>div>ul>li ul>li{position:relative;}
header>div>ul>li ul>li.on>a{background:#ff9c00;}
header>div>ul>li>ul ul{left:161px;top:0;}
header>div>ul a,
header>div>ul a:link{color:#fff !important;font-size:14px;display:block;}
header>div>ul>li ul{background:rgba(65,81,107,0.8);}
header>div>ul>li ul a{line-height:34px;}

header .box_login{position:absolute;right:0;top:10px;color:#fff;}
header .box_login span{display:inline-block;padding-left:14px;background:url(../images/btn_login.png) no-repeat 0 50%;}
header .box_login a{display:inline-block;color:#fff;line-height:17px;background:#717b8b;border-radius:3px;padding:0 10px;margin-left:5px;}


/* wrap */
.wrap{min-width:1200px;max-width:1380px;width:auto;height:auto;min-height:auto;margin:0 auto;padding:0 10px 50px 10px;}
.wrap .box_tit{position:relative;}
.wrap .box_tit.dot_line{border-bottom:1px dotted #eee;}
.wrap .box_tit h2{padding-left:42px;margin:20px 0 16px;font-size:16px;color:#4f4f50;line-height:24px;background:url(../images/ico_h2.png) no-repeat 9px 0;}
.wrap .box_tit .location{position:absolute;right:0;bottom:0px;font-size:13px;}
.wrap .box_tit .location span,
.wrap .box_tit .location strong{display:inline-block;margin:0 5px;}
.wrap .box_tit .location strong{font-style:italic;font-weight:700;}
.wrap .box_tit+.tit_h3{margin-top:30px;}

.wrap .tit_h3{text-align:center;margin:65px 0 10px;}
.wrap .tit_h3>span{display:inline-block;min-width:275px;line-height:34px;font-size:16px;color:#4f4f50;font-weight:700;padding:0 10px;border:1px solid #e3e3e3;background:#eee;box-shadow:2px 2px 10px rgba(34,23,20,0.35);}
.wrap .tit02_h3{position:relative;margin:30px 0 10px;padding-left:35px;font-size:16px;line-height:1;}
.wrap .wrap_btn+.tit02_h3{margin-top:120px;}
.wrap .tit02_h3:before{content:"";position:absolute;left:20px;top:0;display:inline-block;width:4px;height:16px;background:#0090ff;}
.wrap .box_tit+.tit02_h3{margin-top:50px;}

.wrap .box_graph{border:1px solid #eee;padding:20px;}
.wrap .box_graph img{width:100%;height:100%;}
.wrap .info_graph{margin:10px 0 12px;}
.wrap .info_graph select{vertical-align:top;}
.wrap .info_graph label{margin-right:15px;}
.wrap .info_graph label:before{
    margin-right:10px;
    border:1px solid #e7e7e7;
    border-radius: 20px;
    content:"";display:inline-block;width:15px;height:15px;
    margin-top:2px;vertical-align:top;}
.wrap .info_graph label.red:before{background:#ba3e3b;}

/*-----------------표시방법 추가------------------*/
.wrap .info_graph_main label:before{content:"";display:inline-block;width:20px;height:20px;margin-right:5px;background:#4f81bd;vertical-align:top;}

.wrap .info_graph_main  label.red:before{background:#ba3e3b;}
/*---------그래프 라벨 추가--------------*/

.graph_lable{
    width:100%;
    text-align: right;
    position: relative;
    top: 35px;
}





.wrap .clear{overflow:hidden;}
.wrap .clear .fl{float:left;width:50%;padding-right:10px;}
.wrap .clear .fr{float:right;width:50%;padding-left:10px;}
.wrap .clear .box_graph{height:278px;}
.wrap .clear .info_graph02{overflow:hidden;background:#edf9ff;border-top:2px solid #0090ff;border-left:1px solid #e7e7e7;border-right:1px solid #e7e7e7;padding:5px 5px 5px 20px;}
.wrap .clear .info_graph02>a{float:right;}
.wrap .clear .info_graph02>span{display:inline-block;margin:4px 10px 0 0;}
.wrap .clear .info_graph02>span>span{width:20px;height:20px;border-radius:0;margin-right:5px;}

.wrap .de_list{position:relative;border:1px solid #eee;border-width:1px 1px 1px 0;}
.wrap .de_list dt{position:absolute;left:0;top:0;width:165px;background:#eee;line-height:34px;text-align:center;}
.wrap .de_list dd{padding-left:175px;line-height:34px;}
.wrap .de_list dd label{margin-right:10px;}
.wrap .de_list+.wrap_graph{margin-top:-1px;display:table;width:100%;}
.wrap .wrap_graph{margin-bottom:45px;overflow:hidden;position:relative;}
.wrap .wrap_graph .box_graph{width:88%;display:table-cell;}
.wrap .wrap_graph>.lst_graph{width:12%;display:table-cell;vertical-align:middle;background:#f3f6f8;border:1px solid #eee;}
.wrap .wrap_graph>.lst_graph li{margin-bottom:5px;padding:0 10px;text-align:left;}
.wrap .wrap_graph>.lst_graph li:last-child{margin-bottom:0;}
.wrap .wrap_graph>.lst_graph li>span{display:inline-block;}
.wrap .wrap_graph>.lst_graph li>span:first-child{width:20%;}
.wrap .wrap_graph>.lst_graph li>span:nth-child(2){width:40%;}
.wrap .wrap_graph>.lst_graph li>span:nth-child(3){width:40%;}

.wrap .wrap_search{margin-bottom:10px;}
.wrap .wrap_search:after{content:"";display:block;clear:both;}
.wrap .wrap_search>dl>dt,
.wrap .wrap_search>dl>dd{float:left;height:24px;line-height:24px;font-size:13px;}
.wrap .wrap_search>dl>dt{padding-right:10px;}
.wrap .wrap_search>dl>dd *{vertical-align:top;}
.wrap .wrap_search .d_sorting{float:left;margin-left:20px;}
.wrap .wrap_search .d_search{float:right;}
.wrap .wrap_search .d_search .btn_search{min-width:auto;padding:0 5px;line-height:24px;border-radius:0;background:#0090ff;font-weight:400;}

.wrap .de_check{overflow:hidden;margin-bottom:10px;}
.wrap .de_check dt,
.wrap .de_check dd{float:left;}
.wrap .de_check dt{padding:0 25px 0 30px;}
.wrap .de_check dd label{margin-right:15px;}

.btn_open{text-align:center;height:12px;position:relative;}
.btn_open:before{content:"";display:block;width:100%;height:1px;background:#d1d1d1;position:absolute;left:0;top:50%;z-index:-1;}
.btn_open a{position:relative;display:inline-block;width:250px;height:12px;text-indent:-9999px;border-radius:6px;background-image:linear-gradient(#f3f3f3, #d5d5d5);}
.btn_open a:after{content:"";display:inline-block;vertical-align:top;width:0;height:0;border-top:5px solid #4f4f50;border-right:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid transparent;position:absolute;left:50%;top:50%;margin:-2px 0 0 -2px;}


.btn_open00 a.on:after{border-top:5px solid transparent;border-bottom:5px solid #4f4f50;margin-top:15px;}
.btn_open00{text-align:center;height:12px;position:relative;}
.btn_open00:before{content:"";display:block;width:100%;height:1px;background:#d1d1d1;position:absolute;left:0;top:50%;z-index:-1;}
.btn_open00 a{position:relative;display:inline-block;width:250px;height:12px;text-indent:-9999px;border-radius:6px;background-image:linear-gradient(#f3f3f3, #d5d5d5);}
.btn_open00 a:after{content:"";display:inline-block;vertical-align:top;width:0;height:0;border-top:5px solid #4f4f50;border-right:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid transparent;position:absolute;left:50%;top:50%;margin:-2px 0 0 -2px;}
.btn_open00 a.on:after{border-top:5px solid transparent;border-bottom:5px solid #4f4f50;margin-top:-8px;}


.btn_open01 a.on:after{border-top:5px solid transparent;border-bottom:5px solid #4f4f50;margin-top:15px;}
.btn_open01{text-align:center;height:12px;position:relative;}
.btn_open01:before{content:"";display:block;width:100%;height:1px;background:#d1d1d1;position:absolute;left:0;top:50%;z-index:-1;}
.btn_open01 a{position:relative;display:inline-block;width:250px;height:12px;text-indent:-9999px;border-radius:6px;background-image:linear-gradient(#f3f3f3, #d5d5d5);}
.btn_open01 a:after{content:"";display:inline-block;vertical-align:top;width:0;height:0;border-top:5px solid #4f4f50;border-right:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid transparent;position:absolute;left:50%;top:50%;margin:-2px 0 0 -2px;}
.btn_open01 a.on:after{border-top:5px solid transparent;border-bottom:5px solid #4f4f50;margin-top:-8px;}




/* t_view */
.wrap table[class^="t_"]{width:100%;border-top:2px solid #111822;}
.wrap table[class^="t_"] .r_line{border-right:1px solid #d1d1d1;}
.wrap table[class^="t_"] .bg_skyblue{background:#f3f6f8;}
.wrap table[class^="t_"] .bg_white{background:#fff;}
.wrap table[class^="t_"] .bg_white:after{content:"";display:inline-block;margin:5px 0 0 2px;vertical-align:top;width:0;height:0;border-top:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid #4f4f50;}
.wrap table[class^="t_"] .vaT{vertical-align:top;}
.wrap table[class^="t_"]+table[class^="t_"]{margin-top:50px;}
.wrap table[class^="t_"] th,
.wrap table[class^="t_"] td{font-size:12px;height:34px;vertical-align:middle;padding:2px 10px;border-bottom:1px solid #d1d1d1;word-break:break-all;
border:1px solid #e7e7e7;}
.wrap table[class^="t_"] th{
    padding:0;
    text-align:center;background:#eee;color:#4f4f50;}
.wrap table[class^="t_"] td{text-align:center;font-weight:400;}
.wrap table[class^="t_"] td label+label{margin-left:10px;}

.wrap table.t_blue{border-color:#0090ff;}
.wrap table.t_blue th{background:#edf9ff;}
.wrap table.t_blue th,
.wrap table.t_blue td{border-color:#e7e7e7;}
.wrap table.t_blue .btn_blue{line-height:24px;vertical-align:top;margin-left:5px;}

.wrap .lst_sel{max-height:100px;padding:5px;overflow-y:scroll;border:1px solid #e7e7e7;}
.wrap .lst_sel li{margin-bottom:5px;padding-left:5px;}
.wrap .lst_sel li:last-child{margin-bottom:0;}
.wrap .lst_sel a{display:block;text-align:left;font-weight:700;}

.wrap .btn_del{position:relative;display:inline-block;padding:0 20px 0 5px;min-width:140px;margin:5px 0 0 5px;background:#eee;border:1px solid #e7e7e7;line-height:22px;}
.wrap .btn_del a{display:inline-block;margin-left:5px;position:absolute;right:5px;top:50%;margin-top:-12px;}

.wrap table.t_style02 td{text-align:center;padding:5px 5px;}

.wrap .box_scroll{width:100%;overflow-x:scroll;padding-bottom:20px;}
.wrap .ico_red,
.wrap .ico_orange,
.wrap .ico_yellow,
.wrap .ico_green{display:inline-block;width:24px;height:24px;border-radius:50%;vertical-align:middle;}
.wrap .ico_red{background:#f52727;}
.wrap .ico_orange{background:#f58d27;}
.wrap .ico_yellow{background:#ffea00;}
.wrap .ico_green{background:#82fc20;}

/* wrap_btn */
.wrap .box_search .wrap_btn{margin:4px 0;}
.wrap .wrap_btn{margin-top:20px;}
.wrap .wrap_btn.ar{text-align:center;}
.wrap .wrap_btn.ar a:last-child{margin-right:0;}
.btn_orange,
.btn_green,
.btn_blue{display:inline-block;min-width:60px;padding:0 10px;line-height:30px;margin:0 2px;color:#fff !important;font-size:13px;text-align:center;}
.btn_orange{background:#f58500;}
.btn_green{background:#52a51e;}
.btn_blue{background:#0090ff;}
.ico_down{padding-left:40px;background-image:url(../images/btn_down.png);background-repeat:no-repeat;background-position:10px 2px;}

/* pageing */
.pageing{text-align:center;margin-top:20px;}
.pageing a{display:inline-block;width:20px;height:20px;margin:0 2px;line-height:20px;}
.pageing a img{vertical-align:top;}
.pageing a.on{color:#fff;background:#0090ff;}

/* datepicker */
.cont_datepicker>span{display:inline-block;position:relative;margin:0 1px;line-height:24px;vertical-align:top;}
.cont_datepicker>span input{width:110px;}
.cont_datepicker>span>img{position:absolute;right:6px;top:50%;margin-top:-8px;padding-left:6px;border-left:1px solid #e7e7e7;}

/*-----------------테이블 가로값 추가------------------*/
.row_nopa th{
    padding:0;
}
