@charset "utf-8";


/* HTML5 display-role reset for older browsers */
article,header,nav,section{display:block}


/* reset */
html{height:100%}
body{height:100%;min-width:980px;background:#fff url(/images/bg.jpg) 50% 0 no-repeat}
a,body,div,em,h1,h2,h3,html,img,li,p,span,strong,table,tbody,td,th,thead,tr,ul{margin:0;padding:0}
a,body,button,td,th{font-size:12px;font-family:'NanumGothic','나눔고딕',sans-serif;color:#505050}
a,a:hover,a:link,a:visited{text-decoration:none}
article,div,li,section,ul{box-sizing:border-box}
button{box-sizing:border-box;border:none;outline:none;cursor:pointer}
em{font-style:normal}
em,strong{font-weight:700}
hr{display:none}
ul{list-style-type:none}
table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0}
th{font-weight:600}
td{vertical-align:top}


/* common */
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}


/* layout */
.header{background:rgba(22,33,51,0.7)}
.container{max-width:1200px;margin:0 auto;padding:37px 10px 0 10px}
.container:after{content:'';display:block;clear:both}


/* top */
.header_inner{position:relative;max-width:980px;margin:0 auto}
.header_logo{position:absolute;top:20px;left:10px}
.header_logo a{display:block;width:181px;height:46px;background:url(/images/sp_com.png) 0 -50px no-repeat}
.header_util{position:absolute;top:10px;right:10px}
.header_util .header_login{color:#fff;line-height:20px}
.header_util .header_name{margin-right:2px;font-weight:600}
.header_util .header_name:before{content:'';display:inline-block;width:10px;height:12px;margin-right:4px;background:url(/images/sp_com.png) -125px 0 no-repeat;vertical-align:middle}
.header_util .btn_login{height:20px;margin-left:4px;border:1px solid #424a57;border-radius:3px;background:#717b8b;font-size:11px;color:#fff}


/* nav */
.nav{margin-left:253px;padding:28px 0 23px}
.nav_menu:after{content:'';display:block;clear:both}
.nav_link{float:left;padding:0 28px}
.nav_link a{display:block;height:51px;font-weight:600;font-size:14px;color:#fff}
.nav_link a:hover{color:#7bebff}
.nav_link a:before{content:'';display:block;width:25px;height:25px;margin:0 auto 10px;background-image:url(/images/sp_com.png);background-position-y:0;background-repeat:no-repeat}
.nav_link a:hover:before{background-position-y:-25px}
.nav_link:nth-child(1) a:before{background-position-x:0px}
.nav_link:nth-child(2) a:before{background-position-x:-25px}
.nav_link:nth-child(3) a:before{background-position-x:-50px}
.nav_link:nth-child(4) a:before{background-position-x:-75px}
.nav_link:nth-child(5) a:before{background-position-x:-100px}
.nav_link:nth-child(1) a:hover:before{background-position-x:0px}
.nav_link:nth-child(2) a:hover:before{background-position-x:-25px}
.nav_link:nth-child(3) a:hover:before{background-position-x:-50px}
.nav_link:nth-child(4) a:hover:before{background-position-x:-75px}
.nav_link:nth-child(5) a:hover:before{background-position-x:-100px}


/* analysis_wrap */
.analysis_wrap{overflow:hidden;float:left;width:383px;height:650px;border:1px solid #243148;border-radius:10px;background:rgba(67,76,91,0.7);box-shadow:0 0 5px 1px #686f78;;color:#fff}
.analysis_wrap-foreign{margin-left:15px}


/* analysis_top */
.analysis_top{position:relative;padding:20px;height:304px;background-image:url(/images/bg_analysis-down.png);background-position:0 0;background-repeat:repeat-x}
.analysis_top .analysis_today:after{content:'';position:absolute;top:50%;left:50%;z-index:-1;margin-left:-57px;width:113px;height:114px;background-position-y:-96px;background-repeat:no-repeat}
.analysis_top.num-up{background-image:url(/images/bg_analysis-up.png)}
.analysis_top.num-up .analysis_today:after{margin-top:-107px;background-image:url(/images/sp_com.png);background-position-x:0px}
.analysis_top.num-down .analysis_today:after{margin-top:-14px;background-image:url(/images/sp_com.png);background-position-x:-113px}
.analysis_tit{position:absolute;width:calc(100% - 40px);margin-top:-5px;font-weight:400;font-size:36px}
.analysis_type{position:absolute;top:0;right:0;font-size:12px}
.analysis_value{position:relative;height:100%}
.analysis_value .num-up:before{content:'';display:inline-block;width:17px;height:18px;margin-right:2px;vertical-align:3px;background:url(/images/sp_com.png) -135px 0 no-repeat}
.analysis_value .num-down:before{content:'';display:inline-block;width:17px;height:18px;margin-right:2px;vertical-align:3px;background:url(/images/sp_com.png) -152px 0 no-repeat}
.analysis_today{position:relative;z-index:1;line-height:264px;text-align:center}
.analysis_today .num{font-size:40px}
.analysis_today .num_current{position:absolute;top:45px;left:0;width:100%;font-weight:400;font-size:14px;color:#ddd}
.analysis_today .emph{font-weight:400;font-size:70px}
.analysis_past{position:absolute;bottom:-6px;color:#748198}
.analysis_past:last-child{right:0;text-align:right}
.analysis_past .label{padding-bottom:4px}
.analysis_past .num{font-size:15px}
.analysis_past .emph{font-weight:400;font-size:30px}
/* .analysis_date {position:absolute;right:0;bottom:-4px;color:#748198} */


/* analysis_bl */
.analysis_tbl th,
.analysis_tbl td{color:#fff;text-align:center;word-break:keep-all;white-space:nowrap}
.analysis_tbl th{font-weight:400;font-size:14px;line-height:32px}
.analysis_tbl td{font-size:13px;vertical-align:middle}
.analysis_tbl thead tr{background:#273140}
.analysis_tbl tbody td:before{content:'';width:10px;height:10px;margin-right:2px;background:url(/images/sp_com.png);background-position-y:0;background-repeat:no-repeat;vertical-align:-1px}
.analysis_tbl tbody td.num-up:before{display:inline-block;background-position-x:-169px}
.analysis_tbl tbody td.num-down:before{display:inline-block;background-position-x:-179px}
.tbl_traffic tr:nth-of-type(4) td{background:rgba(31,40,53,0.1)}
.tbl_traffic td{line-height:62px}
.tbl_traffic tbody tr:nth-child(-n + 4){background: rgba(31,40,53,0.1)}
.tbl_rank tbody td{line-height:30px}
.tbl_rank tbody td.num-up,
.tbl_rank tbody td.num-down{line-height:29px}
.tbl_rank tbody tr:nth-child(odd) td{background:rgba(31,40,53,0.1)}
