<!-- 
    이곳이 웹의 어플리케이션의 시작이다. 
    이곳에서 스프링 환경설정 파일의 위치도 설정한다. (디스페셔 서블릿)
    그리고 이곳에서는 여러가지 필터를 적용시킬 수 있다. (대표적으로 utf-8 언어셋)
 -->

 <!-- Character Set Filter -->
    <filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>

		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>

		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


<!-- 
    중요한 사실은 여기 필터에서 언어셋을 설정했다고 모든 페이지에서 한글이 안깨지는 것은 아니다. 
    여기서는 서버에서만 나오는 출력들에 대해 영향을 미칠 뿐이다. 
    jsp 파일에서 쓴 한글을 여기서 적용되지 않는다. 
    jsp 에서 한글을 쓰려면 페이지 최상단에 언어셋 설정을 해줘야 한다. 
 -->