@charset "utf-8";

*{margin:0; padding:0; font:normal small Malgun Gothic, '맑은고딕', Arial, Nanum Gothic, Dotum, Gulim, AppleGothic, Sans-serit;}

html, body {width:100%;height:100%; margin:0; padding:0; }
body { min-height : 100%; background-color:#efefef;}
body,a,div,li,td,th{FONT-FAMILY:  Malgun Gothic, '맑은고딕', Arial, Nanum Gothic, Dotum, Gulim, AppleGothic, Verdana, San-serif, '�������', '����', '����',;  color:#242424; font-size:13px; }

input{FONT-FAMILY:  Malgun Gothic, '맑은고딕', Arial, Nanum Gothic, Dotum, Gulim, AppleGothic, Verdana, San-serif, '�������', '����', '����',;  color:#242424; font-size:12px;
	
	height:18px;}
select{FONT-FAMILY: Malgun Gothic, '맑은고딕',  Arial, Nanum Gothic, Dotum, Gulim, AppleGothic, Verdana, San-serif, '�������', '����', '����',;  color:#242424; font-size:11px;
	
	height:20px;}

div,p{margin:0; padding:0;}
img{ vertical-align:middle;border: 0px;}
li{ list-style:none;}
body {
scrollbar-face-color: #ffffff;
scrollbar-shadow-color: #bababa;
scrollbar-highlight-color: #ffffff;
scrollbar-3dlight-color: #bababa;
scrollbar-darkshadow-color: #ffffff;
scrollbar-track-color: #F3F3F3;
scrollbar-arrow-color: #bababa;
overflow-x:hidden;
}
#wrap{ width:100%; height:100%;display:block; border:0px solid red;}
/*#middle{min-height:100%; 
			margin:-70px 0 0 0;}*/


.cursor{cursor:pointer;}
.clear_B{ clear:both;}
.fl_l{ float:left;}
.fl_R{ float:right}
.text_L{text-align:left; padding-left:5px;}
.text_R{text-align:right; padding-right:5px;}
.text_C{text-align:center;}
.height_100{height:100%;}


.padding_5{padding:5px 0;}
.padding_10{padding:10px 0;}
.padding_20{padding:20px 0px;}
.padding_30{padding:30px 0px;}
.padding_50{padding:50px 0px;}
.padding_100{padding:100px 0px;}


a:link{color:#242424; text-decoration:none; }
a:visited{color:#242424; text-decoration:none; }
a:active{ color:#242424; text-decoration:none;}
a:hover{ color:#ff9600; text-decoration:none;}


/*----------------- 상단 ---------------*/
#top_area{ clear:both; width:100%; height:42px; border:0px solid red; background-color:#141210; border-bottom:solid 1px #ef7200;  min-width:1255px;}

#top_area .subMenu li{clear:both; text-align:left; width:110px;  background:#242424; padding:7px 10px 7px 10px; border-bottom:1px solid #565656;}

#top_area .subMenu li a:link{color:#ffffff; text-decoration:none; }
#top_area .subMenu li a:visited{color:#ffffff; text-decoration:none; }
#top_area .subMenu li  a:active{ color:#ffffff; text-decoration:none;}
#top_area .subMenu li  a:hover{ color:#ff9600; text-decoration:none;}

.topmenu:after { content:""; display:block; clear:both; }
.subMenu { display:none; position:absolute; z-index:1000;}


.topmenu div { float:left;  text-align:center; } /*border:1px solid #999 */

.topmenu a{height:43px; line-height:40px; color:#ffffff; padding-left:20px;}
.topmenu a:link{color:#ffffff;   text-decoration:none; }
.topmenu a:visited{color:#ffffff; text-decoration:none; }
.topmenu a:active{ color:#ff9600; text-decoration:none;}
.topmenu a:hover{ color:#ff9600; text-decoration:none;}


.topmenu .menu1{padding-right:80px;}

.topmenu .menu1 a{height:43px; line-height:40px; color:#ffffff; background:url('../images/top_menu_icon1.png') no-repeat; }
.topmenu .menu1 a:link{color:#ffffff; text-decoration:none; background:url('../images/top_menu_icon1.png') no-repeat; background-position:left 75%;  width:14px; height:14px; padding-left:15px;}
.topmenu .menu1 a:visited{color:#ffffff; text-decoration:none;  background:url('../images/top_menu_icon1.png') no-repeat; background-position:left 75%;  width:14px; height:14px; padding-left:15px; }
.topmenu .menu1 a:active{ color:#ff9600; text-decoration:none; background:url('../images/top_menu_icon1_over.png') no-repeat; background-position:left 75%;  width:14px; height:14px; padding-left:15px;}
.topmenu .menu1 a:hover{ color:#ff9600; text-decoration:none;  background:url('../images/top_menu_icon1_over.png') no-repeat; background-position:left 75%;  width:14px; height:14px; padding-left:15px;}


.topmenu .menu2{padding-right:80px; }

.topmenu .menu2 a{height:43px; line-height:40px; color:#ffffff; background:url('../images/top_menu_icon2.png') no-repeat; }
.topmenu .menu2 a:link{color:#ffffff; text-decoration:none; background:url('../images/top_menu_icon2.png') no-repeat; background-position:left 75%;  width:14px; height:14px; }
.topmenu .menu2 a:visited{color:#ffffff; text-decoration:none;  background:url('../images/top_menu_icon2.png') no-repeat; background-position:left 75%;  width:14px; height:14px; }
.topmenu .menu2 a:active{ color:#ff9600; text-decoration:none; background:url('../images/top_menu_icon2_over.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}
.topmenu .menu2 a:hover{ color:#ff9600; text-decoration:none;  background:url('../images/top_menu_icon2_over.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}


.topmenu .menu3{padding-right:80px;}

.topmenu .menu3 a{height:43px; line-height:40px; color:#ffffff; background:url('../images/top_menu_icon3.png') no-repeat; }
.topmenu .menu3 a:link{color:#ffffff; text-decoration:none; background:url('../images/top_menu_icon3.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}
.topmenu .menu3 a:visited{color:#ffffff; text-decoration:none;  background:url('../images/top_menu_icon3.png') no-repeat; background-position:left 75%;  width:14px; height:14px; }
.topmenu .menu3 a:active{ color:#ff9600; text-decoration:none; background:url('../images/top_menu_icon3_over.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}
.topmenu .menu3 a:hover{ color:#ff9600; text-decoration:none;  background:url('../images/top_menu_icon3_over.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}


.topmenu .menu4{padding-right:80px; }

.topmenu .menu4 a{height:43px; line-height:40px; color:#ffffff; background:url('../images/top_menu_icon4.png') no-repeat; }
.topmenu .menu4 a:link{color:#ffffff; text-decoration:none; background:url('../images/top_menu_icon4.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}
.topmenu .menu4 a:visited{color:#ffffff; text-decoration:none;  background:url('../images/top_menu_icon4.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}
.topmenu .menu4 a:active{ color:#ff9600; text-decoration:none; background:url('../images/top_menu_icon4_over.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}
.topmenu .menu4 a:hover{ color:#ff9600; text-decoration:none;  background:url('../images/top_menu_icon4_over.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}


.topmenu .menu5{padding-right:80px;}

.topmenu .menu5 a{height:43px; line-height:40px; color:#ffffff; background:url('../images/top_menu_icon5.png') no-repeat; }
.topmenu .menu5 a:link{color:#ffffff; text-decoration:none; background:url('../images/top_menu_icon5.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}
.topmenu .menu5 a:visited{color:#ffffff; text-decoration:none;  background:url('../images/top_menu_icon5.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}
.topmenu .menu5 a:active{ color:#ff9600; text-decoration:none; background:url('../images/top_menu_icon5_over.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}
.topmenu .menu5 a:hover{ color:#ff9600; text-decoration:none;  background:url('../images/top_menu_icon5_over.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}


.topmenu .menu6{padding-right:80px; }

.topmenu .menu6 a{height:43px; line-height:40px; color:#ffffff; background:url('../images/top_menu_icon6.png') no-repeat; }
.topmenu .menu6 a:link{color:#ffffff; text-decoration:none; background:url('../images/top_menu_icon6.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}
.topmenu .menu6 a:visited{color:#ffffff; text-decoration:none;  background:url('../images/top_menu_icon6.png') no-repeat; background-position:left 75%;  width:14px; height:14px; }
.topmenu .menu6 a:active{ color:#ff9600; text-decoration:none; background:url('../images/top_menu_icon6_over.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}
.topmenu .menu6 a:hover{ color:#ff9600; text-decoration:none;  background:url('../images/top_menu_icon6_over.png') no-repeat; background-position:left 75%;  width:14px; height:14px;}



.topmenu .menu_close{ width:26px; float:right; margin-right:10px; margin-top:-13px;  position:relative; }

.topmenu .menu_close a{color:#ffffff; background:url('../images/top_menu_icon8.png') no-repeat; width:26px; height:16px; }
.topmenu .menu_close a:link{color:#ffffff; text-decoration:none; background:url('../images/top_menu_icon8.png') no-repeat; width:26px; height:16px;}
.topmenu .menu_close a:visited{color:#ffffff; text-decoration:none;  background:url('../images/top_menu_icon8.png') no-repeat; width:26px; height:16px;}
.topmenu .menu_close a:active{ color:#ff9600; text-decoration:none; background:url('../images/top_menu_icon8.png') no-repeat;  width:26px; height:16px;}
.topmenu .menu_close a:hover{ color:#ff9600; text-decoration:none;  background:url('../images/top_menu_icon8.png') no-repeat; width:26px; height:16px;}


.topmenu .application{float:right;padding-top:0px; margin-right:15px;  position:relative; }

.topmenu .application a{height:43px; line-height:40px; color:#ffffff; background:url('../images/top_menu_icon7.png') no-repeat; width:14px; height:14px;}
.topmenu .application a:link{color:#ffffff; text-decoration:none; background:url('../images/top_menu_icon7.png') no-repeat; width:14px; height:14px;}
.topmenu .application a:visited{color:#ffffff; text-decoration:none;  background:url('../images/top_menu_icon7.png') no-repeat;   width:14px; height:14px; }
.topmenu .application a:active{ color:#ff9600; text-decoration:none; background:url('../images/top_menu_icon7_over.png') no-repeat; width:14px; height:14px;}
.topmenu .application a:hover{ color:#ff9600; text-decoration:none;  background:url('../images/top_menu_icon7_over.png') no-repeat;width:14px; height:14px;}

/*----------------- appMenu ---------------*/
.appMenu {width:230px;height:200px; border:3px solid #dadada; background-color:#efefef; text-align:center;}
.appMenu  ul{  margin:7px 8px 15px 14px; text-align:center;}
.appMenu li{float:left; margin:13px;}
.appMenu p{line-height:11px; font-size:11px;}

/*----------------- alarm_content ---------------*/
.alarm_content{ width:100%; height:45px; background:#242424; text-align:center; margin: 0 auto; }
.alarm_content ul{width:1100px;  text-align:center; margin: 0 auto; border:0px solid red;}
.alarm_content li{float:left; padding-top:10px; margin:0 40px;}
.alarm_content u{color:#ffffff; margin:0 10px; font-size: 150%; font-weight:bold;}


/*----------------- ���� ---------------*/
.left_content{vertical-align:top; width:100%;  }

.right_content{vertical-align:top; }


.list_search {clear:both; height:20px; padding:7px; background:#f5f5f5; display:block;}
.equipment_list { border:0px solid red;}
.equipment_list li{clear:both; padding:7px 0; border-bottom:1px dotted #e5e5e5; width:100%; text-align:left; }

.left_table {float:left;}
.left_table th{height:20px; background:#f5f5f5; padding:8px;}
.left_table td{height:45px; clear:both;  padding:0px 8px; border-bottom:1px dotted #e5e5e5; width:100%; text-align:left; }

.list_search1 {height:20px; display:block; padding:7px; background:#f5f5f5; display:block;}

.pivot_list {  background:#f5f5f5; }
.pivot_list li{clear:both; background:#ffffff; width:95%; padding:7px 0 7px 7px; text-align:left;   }
.pivot_list td{padding:7px;}


.box{text-align:center; margin: 5px;min-width:1255px; min-height:960px; }
.box li{float:left;}
.box_border1{background:url('../images/box_border1.png') no-repeat; width:6px;  height:6px; border:0px solid red; display:block;}
.box_border2{background:url('../images/box_border2.png') repeat-x; width:99%;  height:6px;}
.box_border3{background:url('../images/box_border3.png') no-repeat; width:6px;  height:6px; display:block;}
.box_border4{background:url('../images/box_border4.png') repeat-y; width:6px; height:100%;  border:0px solid red; display:block;}
.box_border5{background:url('../images/box_border5.png') repeat-y; width:6px; height:100%;  display:block;}
.box_border6{background:url('../images/box_border6.png') no-repeat; width:6px;  height:6px; display:block;}
.box_border7{background:url('../images/box_border7.png') repeat-x; width:99%;  height:6px; display:block;}
.box_border8{background:url('../images/box_border8.png') no-repeat; width:6px;  height:6px; display:block;}
.box_border{width:99%;   height:100%;  background-color:#ffffff;}

/*----------------- popup1 ---------------*/
#pop {position:absolute;left:0px;top:0px;display:none ; z-index:1001;}
.pop {position:absolute;left:0px;top:0px;display:none ; z-index:1001;}
.popup1{color:#ff9600;   background-color:#f9fafd; border:1px solid #dbdcde;}
.popup1 th{padding:6px; border-bottom:1px dotted #b5b8be; text-align:center; }
.popup1 td{padding:6px; border-bottom:1px dotted #b5b8be;}

.pop_title{widht:100%; background-color:#ff9600; height:34px; line-height:32px; font-size:110%; text-align:left;font-weight:bold; padding-left:10px;}
.popup_table1{}
.popup_table1 th{background-color:#f9fafd; padding:8px 7px;}
.popup_table1 td{background-color:#ffffff; padding:8px 7px;  text-align:center;}
.popup_table1 table{width: 100%; text-align: left;}

/*----------------- bt ---------------*/


/* bt_gray */
.bt_gray{text-align:center;  margin:0 auto;  display:block; }
.bt_gray li{float:left;  }
.bt_gray_left{background:url('../images/bt_gray_left.png') no-repeat; width:2px; height:22px; background-position:left 50%;}
.bt_gray_center{background:url('../images/bt_gray_center.png') repeat-x; height:22px; padding: 0 6px; line-height:22px; font-weight:bold; color:#0a0a0a; background-position:left 50%;}
.bt_gray_right{background:url('../images/bt_gray_right.png') no-repeat; width:2px;height:22px; background-position:left 50%;}

.bt_gray a:link{color:#242424; text-decoration:none; }
.bt_gray a:visited{color:#242424; text-decoration:none; }
.bt_gray a:active{ color:#242424; text-decoration:none;}
.bt_gray a:hover{ color:#ff9600; text-decoration:none;}

/* bt_bk */
.bt_bk{text-align:center;  margin:0 auto;  display:block; height:22px;  }
.bt_bk li{float:left; }
.bt_bk_left{background:url('../images/bt_bk_left.png') no-repeat; width:3px; height:22px; background-position:left 50%;}
.bt_bk_center{background:url('../images/bt_bk_center.png') repeat-x; height:22px; padding: 0 6px; line-height:22px; font-weight:bold; color:#ffffff; background-position:left 50%;}
.bt_bk_right{background:url('../images/bt_bk_right.png') no-repeat; width:3px; height:22px; background-position:left 50%;}

.bt_bk a:link{color:#242424; text-decoration:none; }
.bt_bk a:visited{color:#242424; text-decoration:none; }
.bt_bk a:active{ color:#242424; text-decoration:none;}
.bt_bk a:hover{ color:#ff9600; text-decoration:none;}

/* bt_yel */
.bt_yel{text-align:center;  margin:0 auto;  display:block; }
.bt_yel li{float:left;  }
.bt_yel_left{background:url('../images/bt_yel_left.png') no-repeat; width:3px; height:22px; background-position:left 50%;}
.bt_yel_center{background:url('../images/bt_yel_center.png') repeat-x; height:22px; padding: 0 6px; line-height:22px; font-weight:bold; color:#ffffff; background-position:left 50%;}
.bt_yel_right{background:url('../images/bt_yel_right.png') no-repeat; width:3px; height:22px; background-position:left 50%;}

.bt_yel a:link{color:#242424; text-decoration:none; }
.bt_yel a:visited{color:#242424; text-decoration:none; }
.bt_yel a:active{ color:#242424; text-decoration:none;}
.bt_yel a:hover{ color:#ff9600; text-decoration:none;}


/*----------------- selectbox ---------------*/
.selectbox{text-align:left; margin: 0 auto;}
.selectbox li{float:left;}
.selectbox_1{background:url('../images/selectbox_1.png') no-repeat; width:4px;  height:4px; border:0px solid red; display:block;}
.selectbox_2{background:url('../images/selectbox_2.png') repeat-x; width:98.5%;  height:4px;}
.selectbox_3{background:url('../images/selectbox_3.png') no-repeat; width:4px;  height:4px; display:block;}
.selectbox_4{background:url('../images/selectbox_4.png') repeat-y; width:4px;   border:0px solid red; display:block;}
.selectbox_5{background:url('../images/selectbox_5.png') repeat-y; width:4px;   display:block;}
.selectbox_6{background:url('../images/selectbox_6.png') no-repeat; width:4px;  height:4px; display:block;}
.selectbox_7{background:url('../images/selectbox_7.png') repeat-x; width:98.5%;  height:4px; display:block;}
.selectbox_8{background:url('../images/selectbox_8.png') no-repeat; width:4px;  height:4px; display:block;}
.selectbox_content{width:98.5%;   height:100%; background:#e6e6e6; display:block;}


.select_text{clear:both;}
.select_text span{padding:0 30px 0 10px; font-weight:bold;}
.select_text ul{}
.select_text td{height:35px; line-height:35px; vertical-align:middle; border-bottom:1px dotted #bcbcbc; padding-left:15px; margin-right:15px;}

.selectbox_li{padding-left:20px; text-align:left;}
.select_text th{height:35px; line-height:35px; vertical-align:middle;}

/*.selectbox_li span{background:#f4f4f4; margin-right:5px; }*/


/*----------------- table_content ---------------*/

.table_content{text-align:center; width:100%; }
.table_border{border:1px solid #bcbcbc; background:#fcfcfd; margin-top:10px; margin-bottom:10px;}
.table_content th{background:url('../images/table_th_bg.jpg') repeat-x;  height:24px;  border-bottom:1px solid #bcbcbc; background-color: #d5d5d5;}

.table_content tbody td{cursor:pointer;}
.table_content .td1{background:#ffffff; height:24px; border-top:1px solid #ebebeb;}
.table_content .td2{background:#f2f2f2; height:24px;  border-top:1px solid #ebebeb;}
.table_content .border_bottom{border-bottom:1px solid #bcbcbc;}
.table_content .border_left{border-left:1px solid #bcbcbc;}
.table_content .border_right{border-right:1px solid #bcbcbc;}
.table_content td{height:24px;}

.table_content_w100{text-align:center; width:100%; padding-top:10px;}
.table_border_w100{}
.table_content_w100 th{background:url('../images/table_th_bg.jpg') repeat-x;  height:24px;  border-bottom:1px solid #bcbcbc; border-top:1px solid #bcbcbc; background-color: #d5d5d5;}

.table_content_w100 tbody td{cursor:pointer;}
.table_content_w100 .td1{background:#ffffff; height:24px; border-top:1px solid #ebebeb;}
.table_content_w100 .td2{background:#f2f2f2; height:24px;  border-top:1px solid #ebebeb;}
.table_content_w100 .border_bottom{border-bottom:1px solid #bcbcbc;}
.table_content_w100 .border_left{border-left:1px solid #bcbcbc;}
.table_content_w100 .border_right{border-right:1px solid #bcbcbc;}
.table_content_w100 td{height:24px;}

.table_content_w80{text-align:center; width:100%; padding-top:10px;}
.table_border_w80{}
.table_content_w80 th{font-size:11px;background:url('../images/table_th_bg.jpg') repeat-x;  height:24px;  border-bottom:1px solid #bcbcbc; border-top:1px solid #bcbcbc; background-color: #d5d5d5;}

.table_content_w80 tbody td{cursor:pointer;}
.table_content_w80 .td1{background:#ffffff; height:24px; border-top:1px solid #ebebeb;font-size:11px;}
.table_content_w80 .td2{background:#f2f2f2; height:24px;  border-top:1px solid #ebebeb;font-size:11px;}
.table_content_w80 .border_bottom{border-bottom:1px solid #bcbcbc;}
.table_content_w80 .border_left{border-left:1px solid #bcbcbc;}
.table_content_w80 .border_right{border-right:1px solid #bcbcbc;}
.table_content_w80 td{height:24px;}


/* Pivot Result Table CSS */
#PivotResultTable tr:nth-child(odd){background:#ffffff; height:24px; border-top:1px solid #ebebeb;}
#PivotResultTable tr:nth-child(even){background:#f2f2f2; height:24px;  border-top:1px solid #ebebeb;}
#PivotResultTable tr:last-child>td{border-right:1px solid #bcbcbc;padding:5px;border-bottom:1px solid #bcbcbc;}
#PivotResultTable td{border-right:1px solid #bcbcbc;padding:5px;}


/*----------------- table_input ---------------*/
.table_input{ margin:10px; text-align:left;}

.table_input th{margin:15px; background:#f5f5f5; padding:7px 5px;}
.table_input td{margin:15px; background:#ffffff;  border-bottom:1px solid #ebebeb; padding-left:10px;}
.table_input input, select{padding:2px;}



/*----------------- TopTitle ---------------*/
.TopTitle{ background:url('../images/ct_icon4.png') no-repeat; background-position:left 50%; height:12px; margin:15px 15px 20px 20px; padding:0 0 10px 10px;  border-bottom:1px dotted #bcbcbc; text-align:left;}
.TopTitle span{font-weight:bold; font-size:110%;  padding-top:20px; border:0px solid red; }


.TopTitle .nav{ margin-right:15px; }
.TopTitle .nav li{ float:left; margin:0px 5px; border:0px solid red; }
.TopTitle .text{clear:both; background: url(../images/icon_title.png) no-repeat ; margin-left:20px;   border:0px solid red;         }  
.TopTitle .text p{ font-weight:bold; font-size:120%; margin-left:20px; }

.TopTitle2{ clear:both; background:url('../images/ct_icon4.png') no-repeat; background-position:left 50%; height:12px; margin:15px 15px 20px 20px; padding:0 0 10px 10px;  border-bottom:1px dotted #bcbcbc; text-align:left;}
.TopTitle2 span{font-weight:bold; font-size:110%;  padding-top:20px; border:0px solid red; }


.TopTitle2 .nav{ margin-right:15px; }
.TopTitle2 .nav li{ float:left; margin:0px 5px; border:0px solid red; }
.TopTitle2 .text{clear:both; background: url(../images/icon_title.png) no-repeat ; margin-left:20px;   border:0px solid red;         }  
.TopTitle2 .text p{ font-weight:bold; font-size:120%; margin-left:20px; }

/*----------------- subTopTitle ---------------*/

.subTopTitle{clear:both; background:url('../images/ct_icon5.png') no-repeat;background-position:left 50%;  margin:15px 15px 10px 10px;  padding:0 0 0px 15px;  font-weight:bold; text-align:left;}
 
.popTopTitle{clear:both; background:url('../images/ct_icon6.png') no-repeat;background-position:left 35%;  margin:15px 15px 10px 10px;  padding:0 0 5px 15px;  font-weight:bold; text-align:left; border-bottom:1px dotted #bcbcbc;}
 

 /**page_wrap**/
#page_wrap{clear:both; margin-top: 30px; margin-bottom: 30px; width: 100%; display:inline-block; text-align: center; border: 0px solid #dddcdc;}
.page{;display:inline-block; border: 0px solid #dddcdc;margin:auto;}

.page div{float: left;}
.page li{float: left; height:24px; width:20px; line-height:25px; padding: 0px 2px;}


.page li>a:link{ text-align:center;  color:#464646; text-decoration:none; padding: 2px 5px;}
.page li>a:visited{  text-align:center;  color:#464646;  text-decoration:none; padding: 2px 5px; }
.page li>a:active{ text-align:center;  color:#ffffff; background:#ff9600; font-weight:bold;  text-decoration:none; padding: 2px 5px; } 
.page li>a:hover{ text-align:center;  color:#ffffff; background:#ff9600;  font-weight:bold;  text-decoration:none; padding: 2px 5px; }

 /*page_wrap_w100*/
#page_wrap_w100{clear:both; margin-top: 30px; margin-bottom: 30px; width: 100%; display:inline-block; text-align: center; border: 0px solid #dddcdc;}
.page_w100{;display:inline-block; border: 0px solid #dddcdc;margin:auto;}

.page_w100 div{float: left;}
.page_w100 li{float: left; height:24px; width:25px; line-height:25px; padding: 0px 5px;}


.page_w100 li>a:link{ text-align:center;  color:#464646; text-decoration:none; padding: 2px 5px;}
.page_w100 li>a:visited{  text-align:center;  color:#464646;  text-decoration:none; padding: 2px 5px; }
.page_w100 li>a:active{ text-align:center;  color:#ffffff; background:#ff9600; font-weight:bold;  text-decoration:none; padding: 2px 5px; } 
.page_w100 li>a:hover{ text-align:center;  color:#ffffff; background:#ff9600;  font-weight:bold;  text-decoration:none; padding: 2px 5px; }


/*----------------- login ---------------*/

.login{ background-color: #f6f8fa; width:77%; margin:auto 0; text-align:center;}

.login_content{ position:relative; top:435px; left:470px;}
.login_content td{padding:10px 0;}
.login_bg{background:url('../images/login_bg.jpg') no-repeat; width:1000px; height:750px; background-position:center 50%;}


/*----------------- chartdiv ---------------*/
.chartdiv {
  width: 98%;
  height: 400px;
  float: left;
  margin-bottom:10px;
  border:3px solid #ededed;}
  
  .chartdiv_s {
  width: 32%;
  height: 400px;
  float: left;
  margin-bottom:10px;
  border:3px solid #ededed;
}

  .chartdiv_m {
  width: 48%;
  height: 400px;
  float: left;
  margin-bottom:10px;
  border:3px solid #ededed;
}


/*----------------- paging_content ---------------*/

 .page a>b {font-weight:bold;font-size:14px;}